@charset "UTF-8";
/* CSS Document */
.contentFont {
    font-family: Verdana, Helvetica, sans-serif;
    line-height: 1.6;
}

.linkStyle {
    color: #888;
    text-decoration:none;
    -moz-text-decoration-color: #888; /* Code for Firefox */
    text-decoration-color: #888;
}

.linkStyle:hover {
    color:#53f;
}
.shadowDiv{
    border-radius: 3px;
    padding:20px;
    box-shadow: lightgrey 0px 0px 5px 5px;
}