<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>

<HEAD>
  <TITLE>Zhanglin Cheng's Homepage</TITLE>

  <style type="text/css">
    <!--
    .style1 {
      font-size: 14pt
    }

    .style3 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14pt;
    }
    -->
  </style>
</HEAD>

<BODY BGCOLOR="#ffffff" text="#000000" link="#000066" vlink="#660033" alink="#ff0000">


  <div id="Layer1" style="position:absolute; left:679px; top:19px; width:103px; height:99px; z-index:1"><img
      src="/images/czlimage/name.png" width="72" height="72"></div>
  <style>
    A.applink:hover {
      border: 2px dotted #DCE6F4;
      padding: 2px;
      background-color: #ffff00;
      color: green;
      text-decoration: none
    }

    A.applink {
      border: 2px dotted #DCE6F4;
      padding: 2px;
      color: #2F5BFF;
      background: transparent;
      text-decoration: none
    }

    A.info {
      color: #2F5BFF;
      background: transparent;
      text-decoration: none
    }

    A.info:hover {
      color: green;
      background: transparent;
      text-decoration: underline
    }
  </style>

  <blockquote>
    <p>
      <FONT FACE="Arial, Helvetica, 'Sans Serif'">

      </FONT>
    </p>
    <blockquote>
      <table width="1193" height="315" border="0">
        <tr>
          <td width="291" height="315">
            <div align="left"><img src="/images/czlimage/cheng.png" width="291" height="315"></div>
          </td>
          <td width="40">
            <div align="left"></div>
          </td>
          <td width="862">
            <p align="left">
              <font face="Arial, Helvetica, 'Sans Serif'">
                <font face="Arial, Helvetica, 'Sans Serif'" size="+2"><b>Zhanglin Cheng</b></font> <br>
              </font>
            </p>
            <p align="left" class="style1">
              <font face="Arial, Helvetica, 'Sans Serif'"> Associate Professor</font>
            </p>
            <p align="left" class="style1">
              <font face="Arial, Helvetica, 'Sans Serif'"> Shenzhen Institutes of Advanced Technology </font>
            </p>
            <p align="left" class="style1">
              <font face="Arial, Helvetica, 'Sans Serif'"> Chinese Academy of Sciences </font>
            </p>
            <p align="left" class="style1">
              <font face="Arial, Helvetica, 'Sans Serif'"> Tel: </span><img style="width: 200px; height: 20px;"
                  src="/images/czlimage/tel.png" />
                <p align="left" class="style1">
                  <font face="Arial, Helvetica, 'Sans Serif'"> Email: </span><img style="width: 200px; height: 22px;"
                      src="/images/czlimage/email.png" />
                  </font>
                  <font face="Arial, Helvetica, 'Sans Serif'"></font>
                  <font face="Arial, Helvetica, 'Sans Serif'"></font></span>
                  <font face="Arial, Helvetica, 'Sans Serif'"></font>
                </p>
          </td>
        </tr>
      </table>
    </blockquote>
  </blockquote>
  <p>&nbsp;</p>

  <FONT FACE="Arial, Helvetica, 'Sans Serif'">

    <blockquote>
      <p class="style1">
        <FONT FACE="Arial, Helvetica, 'Sans Serif'">

          <a href="http://people.ucas.edu.cn/~chengzhanglin" target="_blank">Zhanglin Cheng</a> received the Ph.D.
          degree in pattern recognition and intelligent systems from <a href="http://www.nlpr.ia.ac.cn"
            target="_blank">Institute of Automation, Chinese Academy of Sciences</a> in 2008. His research interests and
          experience span a wide range of topics including computer graphics, computer vision and visualization.
        </FONT>
      </p>
      <p class="style1">&nbsp;</p>
      <p class="style1">
        <FONT FACE="Arial, Helvetica, 'Sans Serif'"><a name="research_interests"></a>
        </FONT>
        <FONT FACE="Arial, Helvetica, 'Sans Serif'">
        </FONT>
      </p>
    </blockquote>


    <FONT FACE="Arial, Helvetica, 'Sans Serif'">
      <table width="99%" cellpadding=3 cellspacing=0 border=0>
        <tr valign="top" BGCOLOR="#cccccc">
          <td>
            <FONT FACE="Arial, Helvetica, 'Sans Serif'"><b>Selected publications (<a
                  href="https://scholar.google.com/citations?user=VXKK9ncAAAAJ&hl" target="_blank">Google Scholar
                  Profile</a>, <a href="http://people.ucas.edu.cn/~chengzhanglin" target="_blank">Homepage@UCAS</a>)
                <FONT FACE="Arial, Helvetica, 'Sans Serif'" SIZE="-1"> </FONT></b></FONT>
          </td>
        </tr>
      </table>
    </FONT>
    <blockquote>
      <p>
        <FONT FACE="Arial, Helvetica, 'Sans Serif'">

        </FONT>
      </p>

      {{ content }}

    </blockquote>

    <blockquote>&nbsp;</blockquote>
    <blockquote>&nbsp;</blockquote>
    <p>&nbsp;</p>

</BODY>

</HTML>